<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/todos">My Todos</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1>Add Todo</h1>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input #todoInput type="text" class="form-control" id="exampleInputEmail1" >
      </div>
      
      <button (click)="onSubmit(todoInput.value)" type="submit" style="margin-bottom: 10px;" class="btn btn-primary">Add</button>
    </form>
  </div>
    </div>
  
    <div class="container">
      <div class="row">
        <table class="table" >
          <thead>
            <tr>
              
              <th scope="col">Description</th>
              <th scope="col">Created Date</th>
              <th scope="col">Is Completed?</th>
              <th scope="col"></th>
  <th></th>
              <th scope="col"></th>
  
            </tr>
          </thead>
          <tbody *ngFor="let todo of todos">
            <tr>
              
              <th scope="row"><input type="checkbox" (change)="toggleCompleted(todo)" [checked]="todo.isCompleted"/> {{ todo.title }}</th>
              <td>{{ todo.createdAt}}</td>
              <!-- <td>{{ todo.isCompleted }}</td>
               -->
               <td>
                <div style="display: flex; align-items: center;">
                  <p style="margin-right: 10px; margin-bottom: 0px;">{{todo.isCompleted}}</p>
                  
                
                </div>
              </td>
              <!-- <td style="color:blue"><button (click)="editTodo(todo)">Edit</button></td> -->
              <td ><button style="background-color:red; color:white; border-style: none; border-radius: 5px;" (click)="deleteTodo(todo.id.toString())">Delete</button> </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
   
  
  
  
  
  
  <!-- 
  <div class="container">
    <div class="row">
      <h1>Add Todo</h1>
      <form>
        <div class="mb-3">
          <label for="todo" class="form-label">Description</label>
          <input type="text" class="form-control" id="todo" aria-describedby="description" #todoInput>
        </div>
        
        <button type="button" class="btn btn-primary" (click)="onSubmit(todoInput.value)">Submit</button>
      </form>
    </div>
    <div class="row">
      <h1>My Todos</h1>
          <ul>
            <li *ngFor="let todo of todos">
              <span>{{ todo.description }}</span>
              <span>{{ todo.createdDate  }}</span>
              <span>{{ todo.isCompleted }}</span>
            </li>
          </ul>
    </div>
  </div> -->
  
<!-- <todos.component></todos.component> -->

<!-- <router-outlet /> -->
